body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary); /* Gris foncé pour le fond */
    color: #fff; /* Texte en blanc pour la lisibilité */
    margin: 0;
    height: 100vh; /* Prendre toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

nav ul li a:hover {
    text-decoration: underline;
}

h3 {
    color: #f0e7e7; /* Texte en noir pour le titre */
    text-align: center;
    margin: 20px 0;
}

.main-content {
    flex: 1; /* Prendre tout l'espace disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: #fff; /* Fond blanc pour le formulaire */
    color: #333; /* Texte foncé pour le formulaire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label {
    margin-top: 10px;
}

form label .required {
    color: rgb(133, 64, 64);
}

form input,
form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    color: #333; /* Texte foncé pour les champs */
    border-radius: 8px; /* Coins arrondis pour les champs */
}

form input:invalid,
form textarea:invalid {
    border-color: #007BFF; 
}

form button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #00ff2ae1;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px; /* Coins arrondis pour le bouton */
}

form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#char-count {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
    text-align: right;
}
