.verticalNavbar {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    bottom: 0;
    height: calc(100vh - 201px);
    z-index: 999;
    transition: .3s;

    @media (max-width: 768px) {
        left: -40px;
        height: calc(100vh - 110px);

        &:has(#verticalMenu-toggle:checked) {
            left: 0;
            transition: .3s;
        }
    }

    & #verticalMenu-toggle {
        display: none;
    }

    & #verticalMenu-toggle:checked + .verticalMenu-container {
        transform: rotate(180deg);
        filter: none;
        left: calc(100% + 30px);
    }

    & .verticalMenu-container {
        display: none;
        position: absolute;
        left: calc(100% + 5px);
        font-size: 40px;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--primary);
        filter: opacity(0.3);

        @media (max-width: 768px) {
            display: initial;
            top: 50%;
        }
    }

    & ul {
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0;

        & li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 135px;
            list-style: none;
            background: var(--primary);
            margin: 1px 0 0 0;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            cursor: pointer;

            &:hover {
                width: 60px;
                transition: .3s;
            }

            @media (max-width: 768px) {
                width: 40px;
                height: 110px;
            }

            & a {
                text-decoration: none;
                color: var(--secondary);
                transform: rotate(-90deg);
                font-size: 18px;
                width: 135px;
                height: 45px;
                margin-left: 10px;

                @media (max-width: 768px) {
                    font-size: 14px;
                    margin-left: 15px;
                }
            }
        }
    }
}

:has(#verticalMenu-toggle:checked) + .main {
    filter: blur(10px);
}

.main {
    margin: 40px 20px;

    @media (max-width: 768px) {
        margin-top: 20px;
    }

    & .articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        & .article {
            width: 600px;
            height: auto;
            margin: 15px;
            overflow: hidden;
            border-radius: 15px;
            background: var(--secondary);
            box-shadow: 2px 2px 10px 2px #bdbdbd;

            &:nth-child(2n) {
                background: var(--primary);

                & .description {
                    color: var(--quaternary);
                }

                & .button {
                    background: var(--secondary);
                    color: var(--quinary);
                }
            }

            & .image {
                position: relative;
                height: 240px;
                overflow: hidden;


                & img {
                    height: 240px;
                    max-width: 600px;
                    width: 100%;
                    object-fit: cover;
                }
            }

            & .description {
                color: var(--quinary);
                line-height: var(--lineHeight);
                padding: 20px;

                & .title {
                    font-size: 30px;
                    margin: 15px 0;
                }

                & p {
                    margin: 0;
                }
            }

            & .button {
                margin: 0 20px 20px;
                float: right;
                background: var(--primary);
                color: var(--quaternary);
                height: 50px;
                width: 80px;
                font-size: 16px;
                border-radius: 8px;
                border: none;
                cursor: pointer;

                @media (max-width: 768px) {
                    float: none;
                    display: block;
                    margin: 20px auto;
                }
            }
        }
    }
}